/* Styling Nav Bar */
nav{

    position: absolute;

    width: 100%;

    background: black;

    margin: 0;

    text-align: center;

    opacity: 0.6;
    
    z-index: 2;
    
    margin-left: -1;
    
    margin-top: -1;
}

nav ul{

    list-style-type: none;

    margin: 0;

    padding: 0;

}

nav ul li{

    display: inline-block;

    padding: 24px;

    cursor: pointer;
    
}

nav ul li a{

    text-decoration: none;

    color: white;

    display: block;

}

nav ul li:hover{

    background: #150;

}


/* Setting image size */
.pic1{
    position: absolute;
    height:100%;
    width:100%;
    margin-left: -1;
    margin-top: -1;
    
}



