/* Style for h1 */
h1 {
    font-family: Courier, Monaco, monospace;
    text-decoration: underline;
    text-align: center
}

/* Style for paragraphs */
p {
    font-family: Courier, Monaco, monospace;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

/* Style for h5 */
h5 {
    font-family: Courier, Monaco, monospace;
    text-align: center
}

