h1 {
    font-family: Courier, Monaco, monospace;
    text-decoration: underline;
    text-align: center
}

p {
    font-family: Courier, Monaco, monospace;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

h5 {
    font-family: Courier, Monaco, monospace;
    text-align: center
}

