/* Positioning text */
div {
    height: 200px;
    width: 600px;

    position: absolute;
    top: 30%;
    left: 44%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: justify;
}

/* Style for h1 */
h1 {
    font-family: Courier, Monaco, monospace;
    text-align: center;
    text-decoration: underline;
}

/* Style for paragraph */
p {
    font-family: Courier, Monaco, monospace;
}

/* Style for h3 */
h3 {
    font-family: Courier, Monaco, monospace;
    text-align: center;
}

/* Style for buttons */
.button {
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.button1 {
    border-radius: 12px;
    background-color: #4CAF50; 
}

.button2 {
    border-radius: 12px;
    background-color: #555555; 
}

